.dialogsBlock {
    display: flex;
    flex-direction: column;
}

.dialogs {
    display: flex;
    justify-content: space-between;
}

.messageForm {
    margin: 20px 25px;
}

.inputField input {
    min-width: 800px;
    min-height: 50px;
}

.messageForm button {
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    width: 120px;
    font-size: 12px;
    font-weight: 700;
}