.profileInfo {
    display: flex;
}

.user {
    margin: 25px;
}

.user img {
    width: 160px;
    height: 145px;
}

.description {
    padding: 10px;
}

.name {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
}
