.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header .title {
    font-weight: 700;
    margin-left: 20px;
}

.header .search {
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 3px;
}

.header .searchIcon {
    margin: 0 30px;
    color: rgba(0, 0, 0, 0.6);
}

.header .loginBlock {
    margin-right: 25px;
}

.header .loginBlock .btn {
    margin: 0 20px;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
}

.loginBlock .btn:hover {
    background-color: #edf6ed;
}