.header {
    grid-area: hd;
    background-color: #1e7b7f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    margin: 20px;
    font-weight: 700;
}

.loginBlock a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.searchBlock {
    display: flex;
    align-items: center;
    width: 400px;
}

.searchBlock input {
    padding: 5px 0 5px 25px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 20px;
}