.navbar {
    grid-area: nav;
    background-color: #1f1f1f;
}

.items {
    padding: 10px 0 10px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: linear 80ms;
    color: white;
}

.items:hover {
    font-size: 18px;
    font-weight: 700;
    background-color: #82c785;
    box-shadow: 0 0 5px rgba(130, 199, 133, 0.7);
    transition: linear 80ms;
}

.items a {
    text-decoration: none;
    color: white;
}

.items a:link, a:visited {
    text-decoration: none;
    color: white;
}

.items a:hover {
    text-decoration: none;
    color: black;
}


