.navbar {
    font-size: 18px;
    grid-area: nav;
    background-color: white;
    border-right: solid 1px #b3b3b3;
    font-weight: 500;
}

.navbarElements {
    margin-bottom: 80px;
    font-family: "Source Sans Pro", sans-serif;
}

.items {
    padding: 20px 0 0 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: black;
    transition: linear 80ms;
}

.items:hover {
    transform: translateX(10px);
    transition: linear 80ms;
}

.items a {
    display: flex;
    text-decoration: none;
    color: black;
}

.items img {
    margin-right: 20px;
}

.items a:link, a:visited {
    text-decoration: none;
    color: black;
}

.items a:hover {
    text-decoration: none;
}

.friend img {
    width: 45px;
    height: 45px;
    display: grid;
    border-radius: 45px;
    margin-bottom: 10px;
    border: solid 1px black;

}

.friend {
    float: left;
    margin: 10px;
    font-size: 14px;
}

.titleFriends {
    padding: 10px;
    font-weight: 400;
    border-top: 1px solid #b3b3b3;
}


