.navbar {
    font-size: 18px;
    grid-area: nav;
    background-color: white;
    border-right: solid 1px #1e7b7f;
    font-weight: 700;
}

.navbarElements {
    margin-bottom: 50px;
}

.items {
    padding: 10px 0 10px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: linear 80ms;
    color: black;
}

.items:hover {
    border: solid 1px #1e7b7f;
    box-shadow: 0 0 5px rgba(30, 123, 127, 0.7);
    transition: linear 80ms;
    background-color: #f8f8f8;
}

.items a {
    text-decoration: none;
    color: black;
}

.items a:link, a:visited {
    text-decoration: none;
    color: black;
}

.items a:hover {
    text-decoration: none;
}

.friend img {
    width: 45px;
    border-radius: 45px;
    display: flex;
    margin-bottom: 10px;
    border: solid 2px black;

}

.friend {
    float: left;
    margin: 10px 10px 30px 10px;
    text-align: center;
}

.titleFriends {
    padding: 10px;
    font-weight: 600;
}


