.posts {
    display: grid;
    margin-top: 30px;
    font-family: "Source Sans Pro", sans-serif;
}

.imgAvatar {
    width: 45px;
    border-radius: 45px;
    border: solid 2px black;
}

.title {
    margin: 5px;
}

.likeAndDelete {
    margin-top: 10px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likesBlock {
    display: flex;
    align-items: center;
}

.likesBlock img {
    margin-right: 5px;
    cursor: pointer;
}

.deleteIcon {
    cursor: pointer;

}

.deleteIcon:hover {
    transition: linear 70ms;
}


