.container {
    margin: 30px 20px;
}

.posts {
    display: flex;
    align-items: flex-end;
    font-family: "Source Sans Pro", sans-serif;
}

.imgAvatar {
    width: 45px;
    border-radius: 45px;
    border: solid 1px black;
    margin-right: 10px;
}

.likeAndDelete {
    margin: 20px 10px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likesBlock {
    display: flex;
    align-items: center;
}

.likesBlock img {
    margin-right: 5px;
    cursor: pointer;
}

.deleteIcon {
    cursor: pointer;

}

.deleteIcon:hover {
    transition: linear 70ms;
}


