.App-wrapper {
  display: grid;
  grid-template-areas:
    'hd hd'
    'nav pr';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 3fr 12fr;
  background-color: white;
}

.App-wrapper-content {
  grid-area: pr;
}