.myPosts {
    padding: 10px;
}

.textForm textarea{
    min-width: 800px;
    max-width: 1000px;
    min-height: 70px;
    margin: 0;
}

.buttons button {
    margin: 0;
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-family: cursive;
    font-weight: 700;
    background-color: #ffffff;
    border: solid 1px #1f1f1f;
    border-radius: 5px;
    transition: linear 70ms;
}

.buttons button:hover {
    background-color: #1e7b7f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: linear 70ms;
}