.myPosts {
    padding: 10px 20px;
    font-family: "Source Sans Pro", sans-serif;
}

.textForm textarea {
    min-width: 800px;
    max-width: 1200px;
    min-height: 100px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
}

.textForm textarea:hover {
    border: 2px solid #505050;
}

.myPosts button {
    width: 150px;
    padding: 7px 5px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    background-color: #72c578;
    border: 2px solid #e7e4e4;
}

.myPosts button:hover {
    background-color: #4ca452;
    transition: 100ms ease-in-out;
}